
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --colorgrey: #4a4a4a;
    --colorgreen: #3CDBC0;
    --colorwhite: #FFFFFF;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--colorwhite);
}

.header div {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.header img {
    width: 155px;
}

.header ul {
    display: flex;
}


.list {
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 0px 13px 0;
  }

  .link {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #4a4a4a;
  }

   .main {
    background-color: var(--colorgreen);
    display: flex;
    align-items: center;
    height: 100vh;
   

}

.title { 
    color: var(--colorwhite);
    font-size: 30px;
    text-align: center;
    word-spacing: 100vw; 
}

@media screen and (min-width: 768px) {

    .header div {
        flex-direction: row;
        justify-content: space-between;
    }
    .header img {
        margin: 20px 0 20px 30px;
    }
    .header ul {
        margin-right: 20px;
    }
    .header h1 {
        font-size: 40px;
    }


}
    
   
